---
layout: default
---
<div class="columns">
  <div class="column">
    <article class="post">
      <h1 class="post-title">{{ page.title }}</h1>
      <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
      {{ content }}
    </article>
  </div>
  <div class="column">
    <aside class="aside">
      <div>
        <p>
          Placeholder content
        </p>
        <img src="https://bulma.io/images/placeholders/256x256.png" width="300" height="250">
      {% if site.related_posts != empty %}
    </div>
    <div class="related">
      <h3>Related posts</h3>
      <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    </aside>
  </div>
</div>